# yclients API
YCLIENTS_PARTNER_TOKEN=your_partner_token_here
YCLIENTS_USER_TOKEN=your_user_token_here
YCLIENTS_COMPANY_ID=your_company_id_here

# Tally формы (URL'ы после создания)
TALLY_FORM_ACCOMPANYING=https://tally.so/r/xxx1
TALLY_FORM_NEWBIE=https://tally.so/r/xxx2
TALLY_FORM_REGULAR_ANON=https://tally.so/r/xxx3
TALLY_FORM_REGULAR=https://tally.so/r/xxx4
TALLY_FORM_LOYAL=https://tally.so/r/xxx5
